<h1>{{message}}</h1>
<button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#addPromotion"><span class='glyphicon glyphicon-plus'></span> New Event</button>
<table class="table table-striped table-hover" data-ng-init="getPromotions()">
	<thead>
		<tr>
			<th>Description</th>
			<th>Date</th>
			<th>Expiry Date</th>
			<th>Image</th>
            <!-- <th>Edit</th> -->
			<th>Delete</th>
		</tr>
	</thead>
    <tbody ng-if='promotions.length == 0'>
        <tr>
            <td colspan='5'>No Data found</td>
        </tr>
    </tbody>
	<tbody ng-if='promotions.length != 0'>
		<tr ng-repeat='promotion in promotions'>
			<td>{{promotion.event_description}}</td>
			<td>{{promotion.event_start_time | date:'MM-dd-yyyy hh:mm a'}}</td>
			<td>{{promotion.event_end_time}}</td>
			<td>{{promotion.banner_Image_url}}</td>
            <!-- <td><button class='btn btn-sm btn-danger' ng-click="updatePromotion(promotion._id)" data-toggle="modal" data-target="#addPromotion">Edit</button></td> -->
			<td><button class='btn btn-sm btn-danger' ng-click="deletePromotion(promotion._id)">Delete</button></td>
		</tr>
	</tbody>
</table>


  <!-- Modal -->
<div class="modal fade" id="addPromotion" role="dialog" >
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Add Event</h4>
</div>
<div class="modal-body">
    <label class="control-label">Event Name</label>
    <input placeholder='Name' type="text" class="form-control" name='name' ng-model='promotion.event_name' required>
</div>  
<div class="modal-body">
    <label class="control-label">Event Description</label>
    <input placeholder='Description' type="text" class="form-control" name='description' ng-model='promotion.event_description' required>
</div>
<div class="modal-body">
    <label class="control-label">Category Type</label>
    <select class="form-control" ng-model="promotion.event_category">
      <option value="">Select Category</option>
      <option value="theater">Theater</option>
      <option value="live">Live Show</option>
      <option value="festival">Festival</option>
      <option value="concert">Concert</option>
      <option value="athletics">Athletics</option>  Live Show, Festival, Concert, Athletics, Kids, Offers, Others
      <option value="kids">Kids</option>
      <option value="offers">Offers</option>
      <option value="others">Others</option>
    </select>
</div>    
<div class="row">
    <div class="col-md-9" style="margin-bottom: 40px">
        <h3>Upload Banner Image and Seating file (pdf)</h3>
        <div class="form-group">
        <span class="btn btn-default btn-file">
            Upload<input  type="file" nv-file-select="" uploader="uploader" multiple /><br/>
        </span>
        </div>  
        <table class="table">
            <thead>
                <tr>
                <th width="50%">Name</th>
                <th ng-show="uploader.isHTML5">Size</th>
                <!-- <th ng-show="uploader.isHTML5">Progress</th> -->
                <!-- <th>Status</th> -->
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <!-- <td ng-show="uploader.isHTML5"> -->
                    <!-- <div class="progress" style="margin-bottom: 0;"> -->
                    <!-- <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div> -->
                    </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <!-- <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span> -->
                        <!-- <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span> -->
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-body">
    <label class="control-label">Event Start Date</label>
    <input date-time name="pickerMinDate" ng-model="dates.today" id="pickerMinDate" min-date="minDate" view="date" min-view="hours" timezone="UTC" format="MM-DD-YYYY hh:mm a">
</div>
<div class="modal-body">
    <label class="control-label">Event End Date</label>
    <input date-time name="pickerMinDate" ng-model="dates.end" id="pickerMinDate" min-date="dates.end" view="date" min-view="hours" timezone="UTC" format="MM-DD-YYYY hh:mm a">
</div>
<div class="modal-body">
    <label class="control-label">Event Address</label>
    <input placeholder='Address' type="text" class="form-control" name='address' ng-model='promotion.event_address' required>
</div> 
<div class="modal-body">
    <label class="control-label">Location Latitude</label>
    <input placeholder='Latitude' type="text" class="form-control" name='latitude' ng-model='promotion.location_latituude' required>
</div>
<div class="modal-body">
    <label class="control-label">Location Longitude</label>
    <input placeholder='Longitude' type="text" class="form-control" name='longitude' ng-model='promotion.location_longitude' required>
</div>
<div class="modal-body">
    <label class="control-label">Total Tickets</label>
    <input placeholder='Totall Tickets' type="text" class="form-control" name='tickets' ng-model='promotion.total_tickets' required>
</div>
<div class="modal-body">
    <label class="control-label">Ticket Price</label>
    <input placeholder='Price' type="text" class="form-control" name='price' ng-model='promotion.price' required>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addPromotion(promotion,dates.today,dates.end)">Save</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>